<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/51c47a2e-fd47-49e8-b752-ee9ad33172cb/resourceGroups/majsterstrelby/providers/Microsoft.Web/sites/majsterstrelby</ResourceId>
    <ResourceGroup>majsterstrelby</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://majsterstrelby.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>majsterstrelby.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>majsterstrelby</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$majsterstrelby</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ASP.NET_MVC_MajsterStrelby.Models.ApplicationDbContext, ASP.NET_MVC_MajsterStrelby" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultSqlConnection" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:majsterstrelbyserver.database.windows.net,1433;Initial Catalog=MajsterStrelby;Persist Security Info=False;User ID=gemko;Password=Havranica5;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:majsterstrelbyserver.database.windows.net,1433;Initial Catalog=MajsterStrelby;Persist Security Info=False;User ID=gemko;Password=Havranica5;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-QTGC0BUA\SERVERSQL;Initial Catalog=MajsterStrelby;User ID=sa;Password=serversql" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultSqlConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LAPTOP-QTGC0BUA\SERVERSQL;Initial Catalog=MajsterStrelby;User ID=sa;Password=serversql;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection2" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:majsterstrelbyserver.database.windows.net,1433;Initial Catalog=aspnet;Persist Security Info=False;User ID=gemko;Password=Havranica5;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:majsterstrelbyserver.database.windows.net,1433;Initial Catalog=aspnet;Persist Security Info=False;User ID=gemko;Password=Havranica5;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-ASP.NET_MVC_MajsterStrelby-20190206033406.mdf;Initial Catalog=aspnet-ASP.NET_MVC_MajsterStrelby-20190206033406;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-ASP.NET_MVC_MajsterStrelby-20190206033406.mdf;Initial Catalog=aspnet-ASP.NET_MVC_MajsterStrelby-20190206033406;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="DefaultSqlConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:majsterstrelbyserver.database.windows.net,1433;Initial Catalog=MajsterStrelby;Persist Security Info=False;User ID=gemko;Password=Havranica5;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection2-Web.config Connection String">
      <ParameterValue>Server=tcp:majsterstrelbyserver.database.windows.net,1433;Initial Catalog=aspnet;Persist Security Info=False;User ID=gemko;Password=Havranica5;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>